body {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10vw;
  line-height: .8;
  transition: ease-out .3s;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:pink;
  transform: skew(0deg, -15deg);
}
.right {
  color: black;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  transition: ease-out .6s;
}