body {
  background-color: #5500FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-out .3s;
} 

.vitd {
  font-family: helvetica;
  font-weight: bold;
  font-size: 20vh;
  position: absolute;
  background: linear-gradient(to right, #FF00D4 0%, #FF002B 14.28%, #FF6619 28.56%, #FFD500 42.85%, #80FF00 57.14%, #00FFFF 71.42%, #8000FF 85.71%, #FF00D4 100%) 0% center / 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s linear infinite;
  cursor: pointer;
}

.def {
  font-family: helvetica;
  font-weight: bold;
  font-size: 20vh;
  color: #6A4DFF;
  position: absolute;
  text-align: center;
}

@keyframes rainbow {
  to { background-position-x: 200%; }
}

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.vitd:hover, .vitd:focus, .vitd:active {
  -webkit-animation-name: pulse-grow-on-hover;
  animation-name: pulse-grow-on-hover;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/*MOBILE*/
@media (max-width: 500px) {
  body {
  background-color: #5500FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.vitd {
  font-family: helvetica;
  font-weight: bold;
  font-size: 7vh;
  position: absolute;
  background: linear-gradient(to right, #FF00D4 0%, #FF002B 14.28%, #FF6619 28.56%, #FFD500 42.85%, #80FF00 57.14%, #00FFFF 71.42%, #8000FF 85.71%, #FF00D4 100%) 0% center / 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s linear infinite;
}

.def {
  font-family: helvetica;
  font-weight: bold;
  font-size: 7vh;
  color: #6A4DFF;
  position: absolute;
  text-align: center;
}
@keyframes rainbow {
  to { background-position-x: 200%; }
}
/*MOBILE*/
