body {
  background-color: white;
  font-family: helvetica;
  color: #5500FF;
  font-size: 3vh;
}

/*Menu*/
.mobile-container {
  display: none;
}
/*Menu*/

/*Title*/
.vitd {
  font-weight: bold;
  padding: 40px;
  position: fixed;
  display: inline-block;
}
.vitd {
  font-family: helvetica;
  font-weight: bold;
  font-size: 6vh;
  position: absolute;
  background: linear-gradient(to right, #FF00D4 0%, #FF002B 14.28%, #FF6619 28.56%, #FFD500 42.85%, #80FF00 57.14%, #00FFFF 71.42%, #8000FF 85.71%, #FF00D4 100%) 0% center / 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s linear infinite;
  cursor: pointer;
}
@keyframes rainbow {
  to { background-position-x: 200%; }
}

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/*Title*/

/*Navigation*/
.about, .what, .where, .causes, .symptoms, .treatment, .risks, .lit, .rationale  {
  font-weight: bold;
  font-size: 2.5vh;
  margin-top: 140px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:visited { 
  text-decoration: none; color:#5500FF; 
}
a:hover { 
  text-decoration: none; color:blue; 
}
a:hover, a:active { 
  text-decoration: none; color:#FFD500; 
}
.rectangle {
  margin-top: 40px;
  height: 5vh;
  width: 100%;
  background-color: #5500FF;
  }
  /*Navigation*/

/*GRID*/
img {
  width: 60vh;
  height: auto;
  filter: grayscale(100%);
}
img:hover {
  filter: none;
}
.images {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  font-size: 1.5vh;
  text-align: left;
  columns: 3;
  column-width: 50vh;
}
.bn {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 2.5vh;
  margin-bottom: 40px;
  position: flex;
  word-spacing: 5vh;
}
/*GRID*/

