body {
  background-color: white;
  font-family: helvetica;
  color: #5500FF;
  font-size: 3vh;
}

/*Title*/
.vitd {
  font-weight: bold;
  padding: 40px;
  position: fixed;
  display: inline-block;
}
.vitd {
  font-family: helvetica;
  font-weight: bold;
  font-size: 6vh;
  position: absolute;
  background: linear-gradient(to right, #FF00D4 0%, #FF002B 14.28%, #FF6619 28.56%, #FFD500 42.85%, #80FF00 57.14%, #00FFFF 71.42%, #8000FF 85.71%, #FF00D4 100%) 0% center / 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s linear infinite;
  cursor: pointer;
}
@keyframes rainbow {
  to { background-position-x: 200%; }
}

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/*Title*/

/*Navigation*/
.about, .what, .where, .causes, .symptoms, .treatment, .risks, .lit, .rationale  {
  font-weight: bold;
  font-size: 2.5vh;
  margin-top: 140px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:visited { 
  text-decoration: none; color:#5500FF; 
}
a:hover { 
  text-decoration: none; color:blue; 
}
a:hover, a:active { 
  text-decoration: none; color:#FFD500; 
}
.rectangle {
  margin-top: 40px;
  height: 5vh;
  width: 100%;
  background-color: #5500FF;
  }
  /*Navigation*/

/*GRID*/
.bn {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 2.5vh;
  margin-bottom: 40px;
  position: flex;
  word-spacing: 5vh;
}
/*GRID*/

/*Literature*/
.aparna, .bener, .ding, .fullard, .garland, .gezmish, .jat, .masoudi, .mcdonnell, .moeness, .mohr, .oke, .pletz {
  font-weight: bold;
  font-size: 2.5vh;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.aparnalit, .benerlit, .dinglit, .fullardlit, .garlandlit, .gezmishlit, .jatlit, .masoudilit, .mcdonnelllit, .moenesslit, .mohrlit, .okelit, .pletzlit {
  font-weight: lighter;
  font-size: 2.5vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}
.aparna, .bener, .ding, .fullard, .garland, .gezmish, .jat, .masoudi, .mcdonnell, .moeness, .mohr, .oke, .pletz {
  columns: 2;
  column-gap: 40px
}
.aparnalit, .benerlit, .dinglit, .fullardlit, .garlandlit, .gezmishlit, .jatlit, .masoudilit, .mcdonnelllit, .moenesslit, .mohrlit, .okelit, .pletzlit {
  columns: 2;
  column-gap: 40px
}
/*Literature*/


