.heading {
	font-family: Gill Sans;
	font-size: 70px;
	background-color: red;
	text-align: center;
	padding: 30px;
	color: white;
	display: inline-block;
}

.date {

}

.line1 {
	font-family: Gill Sans;
	font-size: 70px;

}